.git/
.idea/
.vscode/
pg_gem_core/Cargo.lock
pg_gem_core/target/
server/venv/
server/__pycache__/
.DS_Store
.clangd
*.a
*.o
*.so
*.bc
*.dll
*.dylib
*.obj
*.lib
*.exp
results/
regression.diffs
regression.out
